
<!-- START HOMEPAGE DESIGN AREA -->
  <header id="home" class="welcome-area">
    <div class="header-top-area">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <% if notice %>
              <%= notice %>
            <% end %>
            <% if alert %>
              <%= alert %>
            <% end %>
            <!-- START LOGO DESIGN AREA -->
            <div class="logo">
            	<%= link_to(root_path) do %>
                <%= image_tag "team/logo_nav.png", class: "", alt: "" %>
              <% end %>
            </div>
            <!-- END LOGO DESIGN AREA -->
          </div>
          <div class="col-md-9">
            <!-- START MENU DESIGN AREA -->
            <div class="mainmenu">
              <div class="navbar navbar-nobg">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a class="smoth-scroll" href="#home"><%=I18n.t("index.navbar.home")%> <div class="ripple-wrapper"></div></a></li>
                    <li><a class="smoth-scroll" href="#about"><%=I18n.t("index.navbar.video")%></a></li>
                    <li><a class="smoth-scroll" href="#service"><%=I18n.t("index.navbar.pibox")%></a></li>
                    <li><a class="smoth-scroll" href="#pigrow"><%=I18n.t("index.navbar.pigrow")%></a></li>
                    <li><a class="smoth-scroll" href="#work"><%=I18n.t("index.navbar.plants")%></a></li>
                    <li><a class="smoth-scroll" href="#blog"><%=I18n.t("index.navbar.forum")%></a></li>
                    <li><a class="smoth-scroll" href="#team"><%=I18n.t("index.navbar.team")%></a></li>
                    <li><a class="smoth-scroll" href="#contact"><%=I18n.t("index.navbar.contact")%></a></li>
                  </ul>
                </div>
              </div>
            </div>
          <!-- END MENU DESIGN AREA -->
          </div>
        </div>
      </div>
    </div>
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1"></div>
          <div class="hero">
            <hgroup>
              <%= image_tag "team/logo_wall.png", class: "", alt: "" %>
              <h4><%=I18n.t("index.content.home.presents")%></h4>
              <h1><%=I18n.t("index.content.home.thepibox")%></h1>
              <h4><%=I18n.t("index.content.home.thefirst")%></h4>
            </hgroup>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- / END HOMEPAGE DESIGN AREA -->

  <!-- START ABOUT US DESIGN AREA -->
  <section id="about" class="about-us-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- START SECTION TITLE DESIGN AREA -->
          <div class="section-title text-center">
            <h2>Video <%= image_tag "team/plantindoor.png", class: "", alt: "" %></h2>
          </div>
        <!-- / END SECTION TITLE DESIGN AREA -->
        </div>
      </div>
      <div class="row">
                <!-- START ABOUT IMAGE DESIGN AREA -->
                <div class="col-md-6 video-margin-top">
                  <div class="embed-responsive embed-responsive-4by3 about-image">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ljUyn5_jtds"></iframe>
                  </div>
                </div>
                <!-- / END ABOUT US IMAGE AREA -->
                <!-- START ABOUT US TEXT DESIGN AREA -->
                <div class="col-md-6">
                    <div class="about-text video-margin-top">
                        <p><%= I18n.t("index.content.video.paragraph1")%></p>
                        <p><%= I18n.t("index.content.video.paragraph2") %></p>
                        <p><%= I18n.t("index.content.video.paragraph3") %></p>
                        <p><%= I18n.t("index.content.video.paragraph4") %></p>
                    </div>
                </div>
                <!-- / END ABOUT US TEXT DESIGN AREA -->
            </div>
    </div>
  </section>
    <!-- / END ABOUT US DESIGN AREA -->
    <!-- START SERVICES DESIGN AREA -->
    <section id="service" class="service-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="section-title text-center">
              <h2><%= image_tag "team/plantindoor.png", class: "", alt: "" %> PI Box</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- START SINGLE SERVICES DESIGN AREA -->
          <div class="container section-white">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <%= image_tag "team/regularbox.png", class: "", alt: "" %>
                </div>
                <div class="item">
                  <%= image_tag "team/regularboxlight.png", class: "", alt: "" %>
                </div>
                <div class="item">
                  <%= image_tag "team/topbox.png", class: "", alt: "" %>
                </div>
                <div class="item">
                  <%= image_tag "team/topboxlight.png", class: "", alt: "" %>
                </div>
              </div>
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="single-service">
                  <%= image_tag "company/water.png", alt: "" %>
                  <h4><%= I18n.t("index.content.pibox.automatic.title")%></h4>
                  <p><%= I18n.t("index.content.pibox.automatic_des1")%></p>
                  <p><%= I18n.t("index.content.pibox.automatic_des2")%></p>
                  <p><%= I18n.t("index.content.pibox.automatic_des3")%></p>
                  <a class="slide-btn smoth-scroll" href="" data-toggle="modal" data-target="#watering"><%= I18n.t("index.content.pibox.learn")%></a>
                  <!-- Modal -->
                  <div id="watering" class="modal fade" role="dialog">
                    <div class="vertical-alignment-helper">
                      <div class="modal-dialog vertical-align-center">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">×</button>
                              <h4 class="modal-title"><%= I18n.t("index.content.pibox.automatic.mod.title")%></h4>
                            </div>
                            <div class="modal-body">
                              <%= image_tag "testimonial/learn_more_hydro.png", alt: "" %>
                              <p><%= I18n.t("index.content.pibox.automatic.mod.body")%></p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- / END SINGLE SERVICES DESIGN AREA -->
              <!-- START SINGLE SERVICES DESIGN AREA -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service">
                  <%= image_tag "company/temp.png", alt: "" %>
                  <h4><%= I18n.t("index.content.pibox.temp.title")%></h4>
                  <p><%= I18n.t("index.content.pibox.temp_des1")%></p>
                  <p><%= I18n.t("index.content.pibox.temp_des2")%></p>
                  <p><%= I18n.t("index.content.pibox.temp_des3")%></p>
                  <a class="slide-btn smoth-scroll" href="" data-toggle="modal" data-target="#temperature"><%= I18n.t("index.content.pibox.learn")%></a>
                  <!-- Modal -->
                  <div id="temperature" class="modal fade" role="dialog">
                    <div class="vertical-alignment-helper">
                      <div class="modal-dialog vertical-align-center">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">×</button>
                              <h4 class="modal-title"><%= I18n.t("index.content.pibox.temp.mod.title")%></h4>
                            </div>
                            <div class="modal-body">
                            <%= image_tag "testimonial/learn_more_app.png", alt: "" %>
                              <p><%= I18n.t("index.content.pibox.temp.mod.body")%></p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- / END SINGLE SERVICES DESIGN AREA -->
              <!-- START SINGLE SERVICES DESIGN AREA -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service">
                  <%= image_tag "company/nutrient.png", alt: "" %>
                  <h4><%= I18n.t("index.content.pibox.worry.title")%></h4>
                  <p><%= I18n.t("index.content.pibox.worry_des1")%></p>
                  <p><%= I18n.t("index.content.pibox.worry_des2")%></p>
                  <p><%= I18n.t("index.content.pibox.worry_des3")%></p>
                  <a class="slide-btn smoth-scroll" href="" data-toggle="modal" data-target="#humidity"><%= I18n.t("index.content.pibox.learn")%></a>
                  <!-- Modal -->
                  <div id="humidity" class="modal fade" role="dialog">
                    <div class="vertical-alignment-helper">
                      <div class="modal-dialog vertical-align-center">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">×</button>
                              <h4 class="modal-title"><%= I18n.t("index.content.pibox.worry.mod.title")%></h4>
                            </div>
                            <div class="modal-body">
                            <%= image_tag "testimonial/learn_more_pigrow.png", alt: "" %>
                              <p><%= I18n.t("index.content.pibox.worry.mod.body")%></p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- / END SINGLE SERVICES DESIGN AREA -->
              <!-- START SINGLE SERVICES DESIGN AREA -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service">
                  <%= image_tag "company/light.png", alt: "" %>
                  <h4><%= I18n.t("index.content.pibox.photon.title")%></h4>
                  <p><%= I18n.t("index.content.pibox.photon_des1")%></p>
                  <p><%= I18n.t("index.content.pibox.photon_des2")%></p>
                  <p><%= I18n.t("index.content.pibox.photon_des3")%></p>
                  <a class="slide-btn smoth-scroll" href="" data-toggle="modal" data-target="#light"><%= I18n.t("index.content.pibox.learn")%></a>
                  <!-- Modal -->
                  <div id="light" class="modal fade" role="dialog">
                    <div class="vertical-alignment-helper">
                      <div class="modal-dialog vertical-align-center">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">×</button>
                              <h4 class="modal-title"><%= I18n.t("index.content.pibox.photon.mod.title")%></h4>
                            </div>
                            <div class="modal-body">
                              <%= image_tag "testimonial/learn_more_lamp.png", alt: "" %>
                              <p><%= I18n.t("index.content.pibox.photon.mod.body")%></p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- / END SINGLE SERVICES DESIGN AREA -->
              <!-- START SINGLE SERVICES DESIGN AREA -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service">
                  <%= image_tag "company/filter.png", alt: "" %>
                  <h4><%= I18n.t("index.content.pibox.carbon.title")%></h4>
                  <p><%= I18n.t("index.content.pibox.carbon_des1")%></p>
                  <p><%= I18n.t("index.content.pibox.carbon_des2")%></p>
                  <p><%= I18n.t("index.content.pibox.carbon_des3")%></p>
                  <a class="slide-btn smoth-scroll" href="" data-toggle="modal" data-target="#carbon"><%= I18n.t("index.content.pibox.learn")%></a>
                  <!-- Modal -->
                  <div id="carbon" class="modal fade" role="dialog">
                    <div class="vertical-alignment-helper">
                      <div class="modal-dialog vertical-align-center">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">×</button>
                              <h4 class="modal-title"><%= I18n.t("index.content.pibox.carbon.mod.title")%></h4>
                            </div>
                            <div class="modal-body">
                              <%= image_tag "testimonial/learn_more_carbon.png", alt: "" %>
                              <p><%= I18n.t("index.content.pibox.carbon.mod.body")%></p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- / END SINGLE SERVICES DESIGN AREA -->
              <!-- START SINGLE SERVICES DESIGN AREA -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service">
                  <%= image_tag "company/modular.png", alt: "" %>
                  <h4><%= I18n.t("index.content.pibox.modular.title")%></h4>
                  <p><%= I18n.t("index.content.pibox.modular_des1")%></p>
                  <p><%= I18n.t("index.content.pibox.modular_des2")%></p>
                  <p><%= I18n.t("index.content.pibox.modular_des3")%></p>
                  <a class="slide-btn smoth-scroll" href="" data-toggle="modal" data-target="#modular"><%= I18n.t("index.content.pibox.learn")%></a>
                  <!-- Modal -->
                  <div id="modular" class="modal fade" role="dialog">
                    <div class="vertical-alignment-helper">
                      <div class="modal-dialog vertical-align-center">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">×</button>
                              <h4 class="modal-title"><%= I18n.t("index.content.pibox.modular.mod.title")%></h4>
                            </div>
                            <div class="modal-body">
                              <%= image_tag "testimonial/learn_more_box.png", alt: "" %>
                              <p><%= I18n.t("index.content.pibox.modular.mod.body")%></p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- / END SINGLE SERVICES DESIGN AREA -->
            </div>
        </div>
    </section>
    <!-- / END SERVICES DESIGN AREA -->

    <!-- START ABOUT US DESIGN AREA -->
  <section id="pigrow" class="about-us-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- START SECTION TITLE DESIGN AREA -->
          <div class="section-title text-center">
            <h2>PI Grow <%= image_tag "team/plantindoor.png", class: "", alt: "" %></h2>
          </div>
        <!-- / END SECTION TITLE DESIGN AREA -->
        </div>
      </div>
      <div class="row">
      <!-- START ABOUT IMAGE DESIGN AREA -->
        <div class="col-md-6">
          <%= image_tag "company/fond.png", class: "img-responsive center-block", alt: "" %>
        </div>
        <!-- / END ABOUT US IMAGE AREA -->
        <!-- START ABOUT US TEXT DESIGN AREA -->
        <div class="col-md-6">
          <div class="about-text video-margin-top">
            <p><%= I18n.t("index.content.pigrow.about.title1")%> </p>
            <p><%= I18n.t("index.content.pigrow.about.title2")%></p>
            <p><%= I18n.t("index.content.pigrow.about.title3")%></p>
            <p><%= I18n.t("index.content.pigrow.about.title4")%></p>
          </div>
        </div>
        <!-- / END ABOUT US TEXT DESIGN AREA -->
      </div>
    </div>
  </section>
    <!-- / END ABOUT US DESIGN AREA -->

    <!-- START WORK DESIGN AREA -->
    <section id="work" class="work section-padding">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="section-title text-center">
              <h2><%= I18n.t("index.content.plant.title")%><%= image_tag "team/plantindoor.png", class: "", alt: "" %> ?</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <ul class="work">
            <li class="filter" data-filter="all">all</li>
            <li class="filter" data-filter=".development"><%= I18n.t("index.content.plant.filter.vegetable")%></li>
            <li class="filter" data-filter=".photography"><%= I18n.t("index.content.plant.filter.fruit")%></li>
            <li class="filter" data-filter=".webdesign"><%= I18n.t("index.content.plant.filter.medicine")%></li>
          </ul>
        </div>
        <div class="work-inner">
          <div class="row work-posts">
            <!-- START SINGLE WORK DESIGN AREA -->
            <div class="col-md-4 col-sm-4 mix development">
              <div class="item">
                <%= image_tag "portfolio/tomato.jpg", alt: "" %>
                <div class="portfolio-caption">
                  <h4><%= I18n.t("index.content.plant.tomato.caption.title")%></h4>

                  <a class="slide-btn smoth-scroll" href="" data-toggle="modal" data-target="#chien"><%= I18n.t("index.content.pibox.learn")%></a>
                  <!-- Modal -->
                  <div id="chien" class="modal fade" role="dialog">
                    <div class="vertical-alignment-helper">
                      <div class="modal-dialog vertical-align-center">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-body">
                              <ul>
                                <h3><%= I18n.t("index.content.plant.tomato.mod.title")%></h3>
                                <p><%= I18n.t("index.content.plant.tomato.mod.ph")%></p>
                                <p><%= I18n.t("index.content.plant.tomato.mod.spacing")%></p>
                                <p><%= I18n.t("index.content.plant.tomato.mod.temp")%></p>
                                <p><%= I18n.t("index.content.plant.tomato.mod.time")%></p>
                                <p><%= I18n.t("index.content.plant.tomato.mod.opti")%></p>
                                <p><%= I18n.t("index.content.plant.tomato.mod.height")%></p>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END SINGLE WORK DESIGN AREA -->
            <!-- END SINGLE WORK DESIGN AREA -->
            <div class="col-md-4 col-sm-4 mix development">
              <div class="item">
                <%= image_tag "portfolio/coriander.png", alt: "" %>
                <div class="portfolio-caption">
                  <h4><%= I18n.t("index.content.plant.coriander.caption.title")%></h4>
                  <a class="slide-btn smoth-scroll" href="" data-toggle="modal" data-target="#coriander"><%= I18n.t("index.content.pibox.learn")%></a>
                  <!-- Modal -->
                  <div id="coriander" class="modal fade" role="dialog">
                    <div class="vertical-alignment-helper">
                      <div class="modal-dialog vertical-align-center">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-body">
                              <ul>
                                <h3><%= I18n.t("index.content.plant.coriander.mod.title")%></h3>
                                <p><%= I18n.t("index.content.plant.coriander.mod.ph")%></p>
                                <p><%= I18n.t("index.content.plant.coriander.mod.spacing")%></p>
                                <p><%= I18n.t("index.content.plant.coriander.mod.temp")%></p>
                                <p><%= I18n.t("index.content.plant.coriander.mod.time")%></p>
                                <p><%= I18n.t("index.content.plant.coriander.mod.opti")%></p>
                                <p><%= I18n.t("index.content.plant.coriander.mod.height")%></p>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END SINGLE WORK DESIGN AREA -->
            <!-- START SINGLE WORK DESIGN AREA -->
            <div class="col-md-4 col-sm-4 mix photography">
              <div class="item">
                <%= image_tag "portfolio/strawberry.jpg", alt: "" %>
                <div class="portfolio-caption">
                  <h4><%= I18n.t("index.content.plant.strawberry.caption.title")%></h4>
                  <a class="slide-btn smoth-scroll" href="" data-toggle="modal" data-target="#strawberry"><%= I18n.t("index.content.pibox.learn")%></a>
                  <!-- Modal -->
                  <div id="strawberry" class="modal fade" role="dialog">
                    <div class="vertical-alignment-helper">
                      <div class="modal-dialog vertical-align-center">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-body">
                              <ul>
                                <h3><%= I18n.t("index.content.plant.strawberry.mod.title")%></h3>
                                <p><%= I18n.t("index.content.plant.strawberry.mod.ph")%></p>
                                <p><%= I18n.t("index.content.plant.strawberry.mod.spacing")%></p>
                                <p><%= I18n.t("index.content.plant.strawberry.mod.temp")%></p>
                                <p><%= I18n.t("index.content.plant.strawberry.mod.time")%></p>
                                <p><%= I18n.t("index.content.plant.strawberry.mod.opti")%></p>
                                <p><%= I18n.t("index.content.plant.strawberry.mod.height")%></p>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END SINGLE WORK DESIGN AREA -->
            <!-- START SINGLE WORK DESIGN AREA -->
            <div class="col-md-4 col-sm-4 mix development">
              <div class="item">
                <%= image_tag "portfolio/pepper.jpg", alt: "" %>
                <div class="portfolio-caption">
                  <h4><%= I18n.t("index.content.plant.pepper.caption.title")%></h4>
                  <a class="slide-btn smoth-scroll" href="" data-toggle="modal" data-target="#pepper"><%= I18n.t("index.content.pibox.learn")%></a>
                  <!-- Modal -->
                  <div id="pepper" class="modal fade" role="dialog">
                    <div class="vertical-alignment-helper">
                      <div class="modal-dialog vertical-align-center">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-body">
                              <ul>
                                <h3><%= I18n.t("index.content.plant.pepper.mod.title")%></h3>
                                <p><%= I18n.t("index.content.plant.pepper.mod.ph")%></p>
                                <p><%= I18n.t("index.content.plant.pepper.mod.spacing")%></p>
                                <p><%= I18n.t("index.content.plant.pepper.mod.temp")%></p>
                                <p><%= I18n.t("index.content.plant.pepper.mod.time")%></p>
                                <p><%= I18n.t("index.content.plant.pepper.mod.opti")%></p>
                                <p><%= I18n.t("index.content.plant.pepper.mod.height")%></p>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END SINGLE WORK DESIGN AREA -->
            <!-- START SINGLE WORK DESIGN AREA -->
            <div class="col-md-4 col-sm-4 mix development">
              <div class="item">
                <%= image_tag "portfolio/bean.jpg", alt: "" %>
                <div class="portfolio-caption">
                  <h4><%= I18n.t("index.content.plant.bean.caption.title")%></h4>
                  <a class="slide-btn smoth-scroll" href="" data-toggle="modal" data-target="#bean"><%= I18n.t("index.content.pibox.learn")%></a>
                  <!-- Modal -->
                  <div id="bean" class="modal fade" role="dialog">
                    <div class="vertical-alignment-helper">
                      <div class="modal-dialog vertical-align-center">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-body">
                              <ul>
                                <h3><%= I18n.t("index.content.plant.bean.mod.title")%></h3>
                                <p><%= I18n.t("index.content.plant.bean.mod.ph")%></p>
                                <p><%= I18n.t("index.content.plant.bean.mod.spacing")%></p>
                                <p><%= I18n.t("index.content.plant.bean.mod.temp")%></p>
                                <p><%= I18n.t("index.content.plant.bean.mod.time")%></p>
                                <p><%= I18n.t("index.content.plant.bean.mod.opti")%></p>
                                <p><%= I18n.t("index.content.plant.bean.mod.height")%></p>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END SINGLE WORK DESIGN AREA -->
            <!-- START SINGLE WORK DESIGN AREA -->
            <div class="col-md-4 col-sm-4 mix development">
              <div class="item">
                <%= image_tag "portfolio/salad.jpg", alt: "" %>
                <div class="portfolio-caption">
                  <h4><%= I18n.t("index.content.plant.salad.caption.title")%></h4>
                  <a class="slide-btn smoth-scroll" href="" data-toggle="modal" data-target="#salad"><%= I18n.t("index.content.pibox.learn")%></a>
                  <!-- Modal -->
                  <div id="salad" class="modal fade" role="dialog">
                    <div class="vertical-alignment-helper">
                      <div class="modal-dialog vertical-align-center">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-body">
                              <ul>
                                <h3><%= I18n.t("index.content.plant.salad.mod.title")%></h3>
                                <p><%= I18n.t("index.content.plant.salad.mod.ph")%></p>
                                <p><%= I18n.t("index.content.plant.salad.mod.spacing")%></p>
                                <p><%= I18n.t("index.content.plant.salad.mod.temp")%></p>
                                <p><%= I18n.t("index.content.plant.salad.mod.time")%></p>
                                <p><%= I18n.t("index.content.plant.salad.mod.opti")%></p>
                                <p><%= I18n.t("index.content.plant.salad.mod.height")%></p>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END SINGLE WORK DESIGN AREA -->
            <!-- START SINGLE WORK DESIGN AREA -->
            <div class="col-md-4 col-sm-4 mix photography">
              <div class="item">
                <%= image_tag "portfolio/raspberry.jpg", alt: "" %>
                <div class="portfolio-caption">
                  <h4><%= I18n.t("index.content.plant.raspberry.caption.title")%></h4>
                  <a class="slide-btn smoth-scroll" href="" data-toggle="modal" data-target="#raspberry"><%= I18n.t("index.content.pibox.learn")%></a>
                  <!-- Modal -->
                  <div id="raspberry" class="modal fade" role="dialog">
                    <div class="vertical-alignment-helper">
                      <div class="modal-dialog vertical-align-center">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-body">
                              <ul>
                                <h3><%= I18n.t("index.content.plant.raspberry.mod.title")%></h3>
                                <p><%= I18n.t("index.content.plant.raspberry.mod.ph")%></p>
                                <p><%= I18n.t("index.content.plant.raspberry.mod.spacing")%></p>
                                <p><%= I18n.t("index.content.plant.raspberry.mod.temp")%></p>
                                <p><%= I18n.t("index.content.plant.raspberry.mod.time")%></p>
                                <p><%= I18n.t("index.content.plant.raspberry.mod.opti")%></p>
                                <p><%= I18n.t("index.content.plant.raspberry.mod.height")%></p>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END SINGLE WORK DESIGN AREA -->
            <!-- START SINGLE WORK DESIGN AREA -->
            <div class="col-md-4 col-sm-4 mix webdesign">
              <div class="item">
                <%= image_tag "portfolio/amnesia-haze.jpg", alt: "" %>
                <div class="portfolio-caption">
                  <h4><%= I18n.t("index.content.plant.amnesia.caption.title")%></h4>
                  <a class="slide-btn smoth-scroll" href="" data-toggle="modal" data-target="#amnesia"><%= I18n.t("index.content.pibox.learn")%></a>
                  <!-- Modal -->
                  <div id="amnesia" class="modal fade" role="dialog">
                    <div class="vertical-alignment-helper">
                      <div class="modal-dialog vertical-align-center">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-body">
                              <ul>
                                <h3><%= I18n.t("index.content.plant.amnesia.mod.title")%></h3>
                                <p><%= I18n.t("index.content.plant.amnesia.mod.ph")%></p>
                                <p><%= I18n.t("index.content.plant.amnesia.mod.spacing")%></p>
                                <p><%= I18n.t("index.content.plant.amnesia.mod.temp")%></p>
                                <p><%= I18n.t("index.content.plant.amnesia.mod.time")%></p>
                                <p><%= I18n.t("index.content.plant.amnesia.mod.opti")%></p>
                                <p><%= I18n.t("index.content.plant.amnesia.mod.height")%></p>
                                <p><%= I18n.t("index.content.plant.amnesia.mod.variety")%></p>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END SINGLE WORK DESIGN AREA -->
            <!-- START SINGLE WORK DESIGN AREA -->
            <div class="col-md-4 col-sm-4 mix development">
              <div class="item">
                <%= image_tag "portfolio/cucumber.jpg", alt: "" %>
                <div class="portfolio-caption">
                  <h4><%= I18n.t("index.content.plant.cucumber.caption.title")%></h4>
                  <a class="slide-btn smoth-scroll" href="" data-toggle="modal" data-target="#cucumber"><%= I18n.t("index.content.pibox.learn")%></a>
                  <!-- Modal -->
                  <div id="cucumber" class="modal fade" role="dialog">
                    <div class="vertical-alignment-helper">
                      <div class="modal-dialog vertical-align-center">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-body">
                              <ul>
                                <h3><%= I18n.t("index.content.plant.cucumber.mod.title")%></h3>
                                <p><%= I18n.t("index.content.plant.cucumber.mod.ph")%></p>
                                <p><%= I18n.t("index.content.plant.cucumber.mod.spacing")%></p>
                                <p><%= I18n.t("index.content.plant.cucumber.mod.temp")%></p>
                                <p><%= I18n.t("index.content.plant.cucumber.mod.time")%></p>
                                <p><%= I18n.t("index.content.plant.cucumber.mod.opti")%></p>
                                <p><%= I18n.t("index.content.plant.cucumber.mod.height")%></p>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END SINGLE WORK DESIGN AREA -->
            <div class="col-md-4 col-sm-4 mix development">
              <div class="item">
                <%= image_tag "portfolio/parsley.png", alt: "" %>
                <div class="portfolio-caption">
                  <h4><%= I18n.t("index.content.plant.parsley.caption.title")%></h4>
                  <a class="slide-btn smoth-scroll" href="" data-toggle="modal" data-target="#parsley"><%= I18n.t("index.content.pibox.learn")%></a>
                  <!-- Modal -->
                  <div id="parsley" class="modal fade" role="dialog">
                    <div class="vertical-alignment-helper">
                      <div class="modal-dialog vertical-align-center">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-body">
                              <ul>
                                <h3><%= I18n.t("index.content.plant.parsley.mod.title")%></h3>
                                <p><%= I18n.t("index.content.plant.parsley.mod.ph")%></p>
                                <p><%= I18n.t("index.content.plant.parsley.mod.spacing")%></p>
                                <p><%= I18n.t("index.content.plant.parsley.mod.temp")%></p>
                                <p><%= I18n.t("index.content.plant.parsley.mod.time")%></p>
                                <p><%= I18n.t("index.content.plant.parsley.mod.opti")%></p>
                                <p><%= I18n.t("index.content.plant.parsley.mod.height")%></p>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END SINGLE WORK DESIGN AREA -->
            <!-- START SINGLE WORK DESIGN AREA -->
            <div class="col-md-4 col-sm-4 mix webdesign">
              <div class="item">
                <%= image_tag "portfolio/white-widow.jpg", alt: "" %>
                <div class="portfolio-caption">
                  <h4><%= I18n.t("index.content.plant.white.caption.title")%></h4>
                  <a class="slide-btn smoth-scroll" href="" data-toggle="modal" data-target="#widow"><%= I18n.t("index.content.pibox.learn")%></a>
                  <!-- Modal -->
                  <div id="widow" class="modal fade" role="dialog">
                    <div class="vertical-alignment-helper">
                      <div class="modal-dialog vertical-align-center">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-body">
                              <ul>
                                <h3><%= I18n.t("index.content.plant.white.mod.title")%></h3>
                                <p><%= I18n.t("index.content.plant.white.mod.ph")%></p>
                                <p><%= I18n.t("index.content.plant.white.mod.spacing")%></p>
                                <p><%= I18n.t("index.content.plant.white.mod.temp")%></p>
                                <p><%= I18n.t("index.content.plant.white.mod.time")%></p>
                                <p><%= I18n.t("index.content.plant.white.mod.opti")%></p>
                                <p><%= I18n.t("index.content.plant.white.mod.height")%></p>
                                <p><%= I18n.t("index.content.plant.white.mod.variety")%></p>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END SINGLE WORK DESIGN AREA -->
            <!-- START SINGLE WORK DESIGN AREA -->
            <div class="col-md-4 col-sm-4 mix development">
              <div class="item">
                <%= image_tag "portfolio/basilic.png", alt: "" %>
                <div class="portfolio-caption">
                  <h4><%= I18n.t("index.content.plant.basilic.caption.title")%></h4>
                  <a class="slide-btn smoth-scroll" href="" data-toggle="modal" data-target="#basilic"><%= I18n.t("index.content.pibox.learn")%></a>
                  <!-- Modal -->
                  <div id="basilic" class="modal fade" role="dialog">
                    <div class="vertical-alignment-helper">
                      <div class="modal-dialog vertical-align-center">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-body">
                              <ul>
                                <h3><%= I18n.t("index.content.plant.basilic.mod.title")%></h3>
                                <p><%= I18n.t("index.content.plant.basilic.mod.ph")%></p>
                                <p><%= I18n.t("index.content.plant.basilic.mod.spacing")%></p>
                                <p><%= I18n.t("index.content.plant.basilic.mod.temp")%></p>
                                <p><%= I18n.t("index.content.plant.basilic.mod.time")%></p>
                                <p><%= I18n.t("index.content.plant.basilic.mod.opti")%></p>
                                <p><%= I18n.t("index.content.plant.basilic.mod.height")%></p>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END SINGLE WORK DESIGN AREA -->
          </div>
        </div>
      </div>
    </section>
    <!-- START WORK DESIGN AREA -->

    <!-- START BLOG DESIGN AREA -->
    <section id="blog" class="blog-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title text-center">
                        <h2><%= image_tag "team/plantindoor.png", class: "", alt: "" %> forum</h2>
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- START SINGLE BLOG DESIGN AREA -->
                <div class="col-md-offset-4 col-md-4">
                    <div class="single-blog">
                    	<%= image_tag "blog/growth_plant.jpg", class: "img-responsive", alt: "" %>
                        <a href="single-blog.html"><h4><%= I18n.t("index.content.forum.blog")%></h4></a>
                        <h6 class="text-muted">02 oct 16</h6>
                        <p></p>
                        <!-- <a href="single-blog.html" class="read-more">Read more</a> -->
                    </div>
                </div>
                <!-- / END SINGLE BLOG DESIGN AREA -->
            </div>
        </div>
    </section>
    <!-- / END BLOG DESIGN AREA -->

    <!-- START TEAM DESIGN AREA -->
    <section id="team" class="team-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="section-title text-center">
              <h2><%= I18n.t("index.content.team.title")%> <%= image_tag "team/plantindoor.png", class: "", alt: "" %></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- START SINGLE TEAM DESIGN AREA -->
          <div class="col-md-4 col-sm-6">
            <div class="single-team">
              <%= image_tag "team/plantindoor.png", alt: "", class: "img-circle" %>
              <h4>steven philbert</h4>
              <h6 class="text-muted">Developer/Co-Founder</h6>
        <!--  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p> -->
              <ul class="team-social">
                <li><a href="http://www.facebook.com/plantindoor" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <!--  <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-dribbble"></i></a></li> -->
              </ul>
            </div>
          </div>
          <!-- / END SINGLE TEAM DESIGN AREA -->
          <!-- START SINGLE TEAM DESIGN AREA -->
          <div class="col-md-4 col-sm-6">
            <div class="single-team">
              <%= image_tag "team/plantindoor.png", alt: "", class: "img-circle" %>
              <h4>michel kiem</h4>
              <h6 class="text-muted">CEO/Co-Founder</h6>
          <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p> -->
              <ul class="team-social">
                <li><a href="http://www.facebook.com/plantindoor" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <!--  <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-dribbble"></i></a></li> -->
              </ul>
            </div>
          </div>
          <!-- / END SINGLE TEAM DESIGN AREA -->
          <!-- START SINGLE TEAM DESIGN AREA -->
          <div class="col-md-4 col-sm-6">
            <div class="single-team">
              <%= image_tag "team/plantindoor.png", alt: "", class: "img-circle" %>
              <h4>alberto pereira</h4>
              <h6 class="text-muted"> mechanical eng/Co-Founder</h6>
        <!--  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p> -->
              <ul class="team-social">
                <li><a href="http://www.facebook.com/plantindoor" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <!-- <li><a href=""><i class="fa fa-twitter"></i></a></li> -->
                <!-- <li><a href=""><i class="fa fa-dribbble"></i></a></li> -->
              </ul>
            </div>
          </div>
          <!-- / END SINGLE TEAM DESIGN AREA -->
        </div>
      </div>
    </section>
    <!-- / END TEAM DESIGN AREA -->
    <!-- START CONTACT DESIGN AREA -->
    <section id="contact" class="contact-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="section-title text-center">
              <h2><%= I18n.t("index.content.contact.title")%> <span><%= I18n.t("index.content.contact.titlebis")%></span></h2>
            </div>
          </div>
        </div>
        <div class="row">
        <!-- START CONTACT DETAILS DESIGN AREA -->
        <div class="col-md-offset-3 col-md-6">
          <div class="thumbnail center well well-small text-center section-title">
            <% if cookies[:saved_member] %>
              <p><%= I18n.t("index.content.contact.thanks")%><p>
            <% else %>
              <h2><%= I18n.t("index.content.contact.newsletter")%></h2>
              <p><%= I18n.t("index.content.contact.loop")%></p>
                <%= form_for @member, remote: true do |f| %>
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                  <%= f.email_field :email, placeholder: "your@email.com", class: "form-control" %>
                </div>
                </br>
              <%= f.submit 'Subscribe', class: "btn btn-large" %>
            <% end %>
          <% end %>
        </div>
            
          <div class="contact-details">
            <div class="single-contact">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <h6 class="text-muted">contact@plantindoor.com </h6>
            </div>
            <div class="single-contact">
              <i class="fa fa-globe" aria-hidden="true"></i>
              <h6 class="text-muted">www.plantindoor.com</h6>
            </div>
          </div>
        </div>
        <!-- / END CONTACT DETAILS DESIGN AREA -->
      </div>
    </div>
  </section>
  <!-- / END CONTACT DESIGN AREA -->

  <!-- START FOOTER DESIGN AREA -->
  <footer class="footer-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-text text-center">
            <h1><%= image_tag "testimonial/banniere2.jpg", class: "", alt: "" %></h1>
            <div class="footer-social-link">
              <ul>
                <li><a href="https://www.facebook.com/plantindoor" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <!--  <li><a href=""><i class="fa fa-twitter"></i></a></li> -->
                <li><a href="https://www.instagram.com/plantindoor" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <!--  <li><a href=""><i class="fa fa-snapchat"></i></a></li> -->
              </ul>
            </div>
            <h6 class="text-muted">&copy;copyright 2016 plantindoor allright reserved</h6>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- / END CONTACT DETAILS DESIGN AREA -->
  <!-- START SCROOL UP DESIGN AREA -->
  <div class="scroll-to-up">
    <div class="scrollup">
      <i class="fa fa-angle-up"></i>
    </div>
  </div>
    <!-- / END SCROOL UP DESIGN AREA -->